In [2]:
import pandas as pd
import numpy as np

In [80]:
goal_data = pd.read_csv('goal_stats_euro_leagues_2012-13.csv')

In [81]:
goal_data.head()

        Month           Stat   EPL  La Liga  Serie A  Bundesliga
0  08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
1  09/01/2012  MatchesPlayed  38.0       39     50.0        44.0
2  10/01/2012  MatchesPlayed  31.0       31     39.0        27.0
3  11/01/2012  MatchesPlayed  50.0       41     42.0        46.0
4  12/01/2012  MatchesPlayed  59.0       39     39.0        26.0

In [82]:
a = lambda Month: Month.split('/')[0]
b = lambda Month: Month.split('/')[1]
c = lambda Month: Month.split('/')[2]

In [83]:
#creating new column as Date , the date is extracted from Month column
goal_data['Date'] = goal_data['Month'].apply(a)

In [84]:
goal_data.head()

        Month           Stat   EPL  La Liga  Serie A  Bundesliga Date
0  08/01/2012  MatchesPlayed  20.0       20     10.0        10.0   08
1  09/01/2012  MatchesPlayed  38.0       39     50.0        44.0   09
2  10/01/2012  MatchesPlayed  31.0       31     39.0        27.0   10
3  11/01/2012  MatchesPlayed  50.0       41     42.0        46.0   11
4  12/01/2012  MatchesPlayed  59.0       39     39.0        26.0   12

In [85]:
# the month is extracted from Month column
goal_data['month'] = goal_data['Month'].apply(b)

In [86]:
# the month is extracted from Month column
goal_data['year'] = goal_data['Month'].apply(c)

In [88]:
goal_data.head()

,Month,Stat,EPL,La Liga,Serie A,Bundesliga,Date,month,year
0,08/01/2012,MatchesPlayed,20.0,20,10.0,10.0,08,01,2012
1,09/01/2012,MatchesPlayed,38.0,39,50.0,44.0,09,01,2012
2,10/01/2012,MatchesPlayed,31.0,31,39.0,27.0,10,01,2012
3,11/01/2012,MatchesPlayed,50.0,41,42.0,46.0,11,01,2012
4,12/01/2012,MatchesPlayed,59.0,39,39.0,26.0,12,01,2012