In [1]:
import pandas as pd

In [2]:
s=pd.Series(['This is text No 1.', 'and here is no. 2','and 3'],index=['Alice','Bob','Alice'])

In [3]:
s

Alice    This is text No 1.
Bob       and here is no. 2
Alice                 and 3
dtype: object

In [4]:
df = pd.DataFrame(s)

In [6]:
df.columns = ['text']

In [9]:
df['text'] = df['text'].map(lambda x : x.split())

In [12]:
df

                           text
Alice  [This, is, text, No, 1.]
Bob     [and, here, is, no., 2]
Alice                  [and, 3]

In [13]:
df = pd.DataFrame({'A':[[1,2],[5,6]],'B':[10,-20]})

In [14]:
df

        A   B
0  [1, 2]  10
1  [5, 6] -20

In [15]:
pd.DataFrame([[item]+list(df.loc[line,'B':]) for line in df.index for item in df.loc[line,'A']],
             columns=df.columns)

   A   B
0  1  10
1  2  10
2  5 -20
3  6 -20