In [1]:
import pandas as pd
stock_data = pd.read_csv('MoreStock.csv')

In [3]:
stock_data[stock_data['PriceType'] == 'close']

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
1   2014/02/21     close  4263.41  1836.25       1164.63
4   2014/02/24     close  4292.97  1847.61       1174.55
7   2014/02/25     close  4287.59  1845.12       1173.95
10  2014/02/26     close  4292.06  1845.16       1181.72
13  2014/02/27     close  4318.93  1854.29       1187.94
16  2014/02/28     close  4308.12  1859.45       1183.03

In [4]:
stock_data['PriceType'] == 'close'

0     False
1      True
2     False
3     False
4      True
5     False
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13     True
14    False
15    False
16     True
17    False
Name: PriceType, dtype: bool

In [6]:
stock_data[(stock_data['PriceType'] == 'close') & (stock_data['Nasdaq'] > 4300)]

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
13  2014/02/27     close  4318.93  1854.29       1187.94
16  2014/02/28     close  4308.12  1859.45       1183.03

In [7]:
stock_data[(stock_data['PriceType'] == 'close') | (stock_data['Nasdaq'] > 4300)]

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
1   2014/02/21     close  4263.41  1836.25       1164.63
4   2014/02/24     close  4292.97  1847.61       1174.55
5   2014/02/24      high  4311.13  1858.71       1180.29
7   2014/02/25     close  4287.59  1845.12       1173.95
8   2014/02/25      high  4307.51  1852.91       1179.43
9   2014/02/26      open  4300.45  1845.79       1176.11
10  2014/02/26     close  4292.06  1845.16       1181.72
11  2014/02/26      high  4316.82  1852.65       1188.06
13  2014/02/27     close  4318.93  1854.29       1187.94
14  2014/02/27      high  4322.46  1854.53       1187.94
15  2014/02/28      open  4323.52  1855.12       1189.19
16  2014/02/28     close  4308.12  1859.45       1183.03
17  2014/02/28      high  4342.59  1867.92       1193.50

### Using the where method()

In [8]:
import numpy as np
np.random.seed(100) # seed controls random number generation
normvals = pd.Series([np.random.normal() for i in np.arange(10)])

In [9]:
normvals

0   -1.749765
1    0.342680
2    1.153036
3   -0.252436
4    0.981321
5    0.514219
6    0.221180
7   -1.070043
8   -0.189496
9    0.255001
dtype: float64

In [10]:
normvals[normvals > 0]

1    0.342680
2    1.153036
4    0.981321
5    0.514219
6    0.221180
9    0.255001
dtype: float64

In [11]:
normvals.where(normvals > 0)

0         NaN
1    0.342680
2    1.153036
3         NaN
4    0.981321
5    0.514219
6    0.221180
7         NaN
8         NaN
9    0.255001
dtype: float64

In [12]:
## Working with DF
np.random.seed(100)
normDF=pd.DataFrame([[round(np.random.normal(),3) for i in np.arange(5)] for j in range(3)], 
            columns=['0','30','60','90','120'])

In [13]:
normDF

       0     30     60     90    120
0 -1.750  0.343  1.153 -0.252  0.981
1  0.514  0.221 -1.070 -0.189  0.255
2 -0.458  0.435 -0.584  0.817  0.673

In [17]:
pd.DataFrame([[i for i in np.arange(5)] for j in np.arange(3)])

   0  1  2  3  4
0  0  1  2  3  4
1  0  1  2  3  4
2  0  1  2  3  4

In [19]:
normDF[normDF > 0]

       0     30     60     90    120
0    NaN  0.343  1.153    NaN  0.981
1  0.514  0.221    NaN    NaN  0.255
2    NaN  0.435    NaN  0.817  0.673

In [22]:
stock_data.set_index('TradingDate',inplace=True)

In [25]:
stock_data.reset_index(inplace=True)

In [27]:
normDF.where(normDF > 0, inplace=True)

In [28]:
normDF

       0     30     60     90    120
0    NaN  0.343  1.153    NaN  0.981
1  0.514  0.221    NaN    NaN  0.255
2    NaN  0.435    NaN  0.817  0.673