#### What is BIg Data ?

4 V's of Big Data
* Velocity 
* Volume 
* Variety 
* Veracity

Pandas - High-Performance open source library for data analysis
* Process datasets of different formats - time series, tabular data, matrix data
* Import data from csv,json & database
* Provides extensive operations like slice,subset,merging, groupby,shaping etc.
* Handling missing data
* Doing statiscal analysis
* Pandas objects are consumed by scikit-learn,tensorflow

In [1]:
import pandas as pd

#### Two main datastructure inside pandas
* Series - Column or associative array
* DataFrame - Table or collection of series

##### Series
1D NumPy array with name

In [2]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series(np.random.rand(8),index= ['a','b','c','d','e','f','g','c'],dtype=float)

In [66]:
ser['c']

c    0.819959
c    0.687625
dtype: float64

In [6]:
ser['c']

c    0.297891
c    0.350811
dtype: float64

In [4]:
ser

a    0.964788
b    0.819704
c    0.297891
d    0.862558
e    0.230059
f    0.825906
g    0.036405
c    0.350811
dtype: float64

In [5]:
ser.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'c'], dtype='object')

In [69]:
ser.values

array([ 0.7683661 ,  0.24706932,  0.81995888,  0.12550728,  0.49325442,
        0.95469723,  0.56669559,  0.68762509])

In [70]:
#### Series creation from dictionary - key becomes index
db = {'US':'dollar','India':'rupee','UK':'euro'}

In [71]:
currSer = pd.Series(db)

In [72]:
currSer

India     rupee
UK         euro
US       dollar
dtype: object

In [73]:
currSer['UK']

'euro'

In [74]:
### Create Series from Scalar values

In [75]:
dogseries = pd.Series('xyz',index=['breed','location'])

In [76]:
pd.Series(0, index=[1,2,3,4])

1    0
2    0
3    0
4    0
dtype: int64

In [77]:
dogseries

breed       xyz
location    xyz
dtype: object

In [78]:
pd.Series(np.arange(7), index=['a','b','c','d','e','f','g'])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int32

In [16]:
ser = pd.Series(np.random.rand(7), index=['a','b','c','d','e','f','g'])

In [17]:
ser2 = pd.Series(np.random.rand(7))

In [18]:
ser2[:3]

0    0.376225
1    0.289394
2    0.046196
dtype: float64

In [19]:
ser

a    0.957192
b    0.239327
c    0.942528
d    0.303890
e    0.309661
f    0.234020
g    0.650090
dtype: float64

In [20]:
# Opeartions on series
# Imp - last elem is inclusive
ser[:'c']

a    0.957192
b    0.239327
c    0.942528
dtype: float64

In [21]:
ser['c'] = 22222.0

In [85]:
ser

a        0.447648
b        0.064750
c    22222.000000
d        0.424075
e        0.771055
f        0.665150
g        0.910158
dtype: float64

In [86]:
np.mean(ser)

3175.0404052147637

In [87]:
np.std(ser)

7775.888697271982

In [23]:
np.random.choice(10,5)

array([5, 3, 4, 0, 7])

In [24]:
help(np.random.choice)

Help on built-in function choice:

choice(...) method of mtrand.RandomState instance
    choice(a, size=None, replace=True, p=None)

    Generates a random sample from a given 1-D array

            .. versionadded:: 1.7.0

    Parameters
    -----------
    a : 1-D array-like or int
        If an ndarray, a random sample is generated from its elements.
        If an int, the random sample is generated as if a were np.arange(a)
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  Default is None, in which case a
        single value is returned.
    replace : boolean, optional
        Whether the sample is with or without replacement
    p : 1-D array-like, optional
        The probabilities associated with each entry in a.
        If not given the sample assumes a uniform distribution over all
        entries in a.

    Returns
    --------
    samples : single item or ndarray
        The generated random samples

    Raises
    -------
    ValueError
        If a is an int and less than zero, if a or p are not 1-dimensional,
        if a is an array-like of size 0, if p is not a vector of
        probabilities, if a and p have different lengths, or if
        replace=False and the sample size is greater than the population
        size

    See Also
    ---------
    randint, shuffle, permutation

    Examples
    ---------
    Generate a uniform random sample from np.arange(5) of size 3:

    >>> np.random.choice(5, 3)
    array([0, 3, 4])
    >>> #This is equivalent to np.random.randint(0,5,3)

    Generate a non-uniform random sample from np.arange(5) of size 3:

    >>> np.random.choice(5, 3, p=[0.1, 0, 0.3, 0.6, 0])
    array([3, 3, 0])

    Generate a uniform random sample from np.arange(5) of size 3 without
    replacement:

    >>> np.random.choice(5, 3, replace=False)
    array([3,1,0])
    >>> #This is equivalent to np.random.permutation(np.arange(5))[:3]

    Generate a non-uniform random sample from np.arange(5) of size
    3 without replacement:

    >>> np.random.choice(5, 3, replace=False, p=[0.1, 0, 0.3, 0.6, 0])
    array([2, 3, 0])

    Any of the above can be repeated with an arbitrary array-like
    instead of just integers. For instance:

    >>> aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
    >>> np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])
    array(['pooh', 'pooh', 'pooh', 'Christopher', 'piglet'],
          dtype='|S11')

In [89]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

#### DataFrames
* Analogous to spreedsheet
* collection series
* mutable - contents changeable
* hetrogenous - different cols with different type of data

#### Most commonly used data structure in pandas
* Dic of 1D arrays,series
* NumPy array
* csv, json, databases

In [30]:
#Dictionary of Series
#Key of dictionary becomes column name
#Value of dictionary becomes column
stockSummaries={
    
'AMZN': pd.Series( 
        index=['Closing price','EPS',
                'Shares Outstanding(M)',
                'Beta', 'P/E','Market Cap(B)'],
        data=[346.15,0.59,459,0.52,589.8,158.88]),
    
'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'Beta','P/E','Market Cap(B)']),
    
'FB': pd.Series([61.48,0.59,2450,104.93,150.92], 
      index=['Closing price','EPS','Shares Outstanding(M)',
             'P/E', 'Market Cap(B)']),
    
'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'P/E','Beta', 'Market Cap(B)']),
    
'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
       index=['Closing price','EPS','Shares Outstanding(M)',
              'Market Cap(B)']), 
    
'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
       index=['Closing price','EPS','Shares Outstanding(M)','P/E',
              'Market Cap(B)','Beta'])}

In [31]:
stockdf = pd.DataFrame(stockSummaries)

In [27]:
stockdf

                         AAPL    AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.84    0.52      NaN     0.87     NaN     0.66
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36
P/E                     12.44  589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00

In [93]:
#This will not change the stickdf, just return to display
stockdf.T

      Beta  Closing price    EPS  Market Cap(B)     P/E  Shares Outstanding(M)
AAPL  0.84         501.53  40.32         447.59   12.44                 892.45
AMZN  0.52         346.15   0.59         158.88  589.80                 459.00
FB     NaN          61.48   0.59         150.92  104.93                2450.00
GOOG  0.87        1133.43  36.05         380.64   31.44                 335.83
TWTR   NaN          65.25  -0.30          36.23     NaN                 555.20
YHOO  0.66          34.90   1.27          35.36   27.48                1010.00

In [94]:
#Accessing column with single braces returns a series
stockdf['AAPL']

Beta                       0.84
Closing price            501.53
EPS                       40.32
Market Cap(B)            447.59
P/E                       12.44
Shares Outstanding(M)    892.45
Name: AAPL, dtype: float64

In [95]:
#Accessing with double [[]] returns dataframe
stockdf[['AAPL']]

                         AAPL
Beta                     0.84
Closing price          501.53
EPS                     40.32
Market Cap(B)          447.59
P/E                     12.44
Shares Outstanding(M)  892.45

In [96]:
type(stockdf['AAPL'])

pandas.core.series.Series

In [97]:
stockdf[['AAPL','FB']]

                         AAPL       FB
Beta                     0.84      NaN
Closing price          501.53    61.48
EPS                     40.32     0.59
Market Cap(B)          447.59   150.92
P/E                     12.44   104.93
Shares Outstanding(M)  892.45  2450.00

In [98]:
#returns a dataframe
stockdf[['AAPL']]

                         AAPL
Beta                     0.84
Closing price          501.53
EPS                     40.32
Market Cap(B)          447.59
P/E                     12.44
Shares Outstanding(M)  892.45

In [99]:
#column deletion
del stockdf['AAPL']

In [100]:
stockdf

                         AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.52      NaN     0.87     NaN     0.66
Closing price          346.15    61.48  1133.43   65.25    34.90
EPS                      0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          158.88   150.92   380.64   36.23    35.36
P/E                    589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  459.00  2450.00   335.83  555.20  1010.00

In [32]:
#Creating a new column from values of other column
stockdf['ZEKE'] = stockdf['GOOG'] + 100

In [59]:
stockdf[['TWTR']].fillna(0)

                         TWTR
Beta                     0.00
Closing price           65.25
EPS                     -0.30
Market Cap(B)           36.23
P/E                      0.00
Shares Outstanding(M)  555.20

In [34]:
stockdf

,AAPL,AMZN,FB,GOOG,TWTR,YHOO,ZEKE
Beta,0.84,0.52,NaN,0.87,NaN,0.66,100.87
Closing price,501.53,346.15,61.48,1133.43,65.25,34.90,1233.43
EPS,40.32,0.59,0.59,36.05,-0.30,1.27,136.05
Market Cap(B),447.59,158.88,150.92,380.64,36.23,35.36,480.64
P/E,12.44,589.80,104.93,31.44,NaN,27.48,131.44
Shares Outstanding(M),892.45,459.00,2450.00,335.83,555.20,1010.00,435.83

In [35]:
stockdf['new'] = pd.Series([1,2,3,4,5,6],index=stockdf.index)

In [39]:
stockdf['new2'] = stockdf['AAPL'] + stockdf['AMZN']

In [40]:
stockdf

,AAPL,AMZN,FB,GOOG,TWTR,YHOO,ZEKE,new,new2
Beta,0.84,0.52,NaN,0.87,NaN,0.66,100.87,1,1.36
Closing price,501.53,346.15,61.48,1133.43,65.25,34.90,1233.43,2,847.68
EPS,40.32,0.59,0.59,36.05,-0.30,1.27,136.05,3,40.91
Market Cap(B),447.59,158.88,150.92,380.64,36.23,35.36,480.64,4,606.47
P/E,12.44,589.80,104.93,31.44,NaN,27.48,131.44,5,602.24
Shares Outstanding(M),892.45,459.00,2450.00,335.83,555.20,1010.00,435.83,6,1351.45

In [60]:
#Creating dataframe from numpy array
ore1DF=pd.DataFrame(np.array([[20,35,25,20],
                              [11,28,32,29]]),
                    columns=['iron','magnesium',
                             'copper','silver'],
                    index=['a','b'])

In [49]:
ore1DF

   iron  magnesium  copper  silver
a    20         35      25      20
b    11         28      32      29

In [11]:
#Create dataframe from dic of series
df1 = pd.DataFrame({ 'abc': pd.Series([1,2,3,4], index=['a','b','c','e']), 
                     'def': pd.Series([5,6,7,8], index=['a','b','c','d'])
                   }
             )
df1

   abc  def
a  1.0  5.0
b  2.0  6.0
c  3.0  7.0
d  NaN  8.0
e  4.0  NaN

In [28]:
df2 = pd.DataFrame({ 'abc': pd.Series([1,2,3,4], index=['a','b','c','e']), 
                     'def': pd.Series([5,6,7,8], index=['a','b','c','d'])}
             )

df3 = pd.DataFrame({ 'abc': pd.Series([1,2,3,4], index=['a','b','c','e'])})

df2

   abc  def
a  1.0  5.0
b  2.0  6.0
c  3.0  7.0
d  NaN  8.0
e  4.0  NaN

In [18]:
df2['def'].index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [19]:
df2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [20]:
df2

   abc  def
a  1.0  5.0
b  2.0  6.0
c  3.0  7.0
d  NaN  8.0
e  4.0  NaN

In [21]:
df3

   abc
a    1
b    2
c    3
e    4

In [17]:
df2 + df3

   abc  def
a  2.0  NaN
b  4.0  NaN
c  6.0  NaN
d  NaN  NaN
e  8.0  NaN

In [29]:
df3['def'] = pd.Series(0, df3.index)
df3

   abc  def
a    1    0
b    2    0
c    3    0
e    4    0

In [30]:
df2

   abc  def
a  1.0  5.0
b  2.0  6.0
c  3.0  7.0
d  NaN  8.0
e  4.0  NaN

In [14]:
df3

   abc  def
a    1    0
b    2    0
c    3    0
e    4    0

In [18]:
df2 + df3

   abc  def
a  2.0  5.0
b  4.0  6.0
c  6.0  7.0
d  NaN  NaN
e  8.0  NaN

In [59]:
np.sqrt(df1)

        abc       def
a  1.000000  2.236068
b  1.414214  2.449490
c  1.732051  2.645751
d       NaN  2.828427
e  2.000000       NaN

In [19]:
l = [1,2,3]

In [21]:
list(map(lambda x:x+2, l))

[3, 4, 5]

In [61]:
stockdf.describe()

,AMZN,FB,GOOG,TWTR,YHOO,ZEKE
count,6.000000,5.00000,6.000000,4.000000,6.000000,6.000000
mean,259.156667,553.58400,319.710000,164.095000,184.945000,419.710000
std,245.208184,1061.57796,431.586397,262.112336,404.499103,431.586397
min,0.520000,0.59000,0.870000,-0.300000,0.660000,100.870000
25%,40.162500,61.48000,32.592500,27.097500,7.822500,132.592500
50%,252.515000,104.93000,185.940000,50.740000,31.190000,285.940000
75%,430.787500,150.92000,369.437500,187.737500,35.245000,469.437500
max,589.800000,2450.00000,1133.430000,555.200000,1010.000000,1233.430000

In [62]:
stockdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Beta to Shares Outstanding(M)
Data columns (total 6 columns):
AMZN    6 non-null float64
FB      5 non-null float64
GOOG    6 non-null float64
TWTR    4 non-null float64
YHOO    6 non-null float64
ZEKE    6 non-null float64
dtypes: float64(6)
memory usage: 496.0+ bytes