In [1]:
import pandas as pd

In [2]:
baby_names = pd.read_csv(r'C:\Users\ZekeLabs\Downloads\StateNames.csv\StateNames.csv')

In [3]:
baby_names.head()

   Id      Name  Year Gender State  Count
0   1      Mary  1910      F    AK     14
1   2     Annie  1910      F    AK     12
2   3      Anna  1910      F    AK     10
3   4  Margaret  1910      F    AK      8
4   5     Helen  1910      F    AK      7

### Problems
* Find total number of Anna
* What is the trend of folks having name Anna
* Find male vs female births ratio
* Male vs Female births over the year

In [6]:
baby_names.iloc[1]['Count']

12