### Handling Missing Data

In [2]:
import pandas as pd
import numpy as np

data = pd.Series([1.0,np.NaN,5.9,6]) + pd.Series([3,5,2,5.6])

In [2]:
data

0     4.0
1     NaN
2     7.9
3    11.6
dtype: float64

In [3]:
np.mean(data)

7.833333333333333

In [4]:
data.fillna(0)

0     4.0
1     0.0
2     7.9
3    11.6
dtype: float64

In [5]:
data.fillna(method='ffill')

0     4.0
1     4.0
2     7.9
3    11.6
dtype: float64

In [6]:
data.fillna(method='bfill')

0     4.0
1     7.9
2     7.9
3    11.6
dtype: float64

In [9]:
data.dropna()

0     4.0
2     7.9
3    11.6
dtype: float64

In [10]:
data = pd.Series([1.0,np.NaN,np.NaN, np.NaN, 5.9,6])

In [11]:
data.fillna(method='ffill')

0    1.0
1    1.0
2    1.0
3    1.0
4    5.9
5    6.0
dtype: float64

In [12]:
help(data.fillna)

Help on method fillna in module pandas.core.series:

fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs) method of pandas.core.series.Series instance
    Fill NA/NaN values using the specified method

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame). (values not
        in the dict/Series/DataFrame will not be filled). This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use NEXT valid observation to fill gap
    axis : {0, 'index'}
    inplace : boolean, default False
        If True, fill in place. Note: this will modify any
        other views on this object, (e.g. a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled.
    downcast : dict, default is None
        a dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible)

    See Also
    --------
    reindex, asfreq

    Returns
    -------
    filled : Series

In [3]:
goal_data = pd.read_csv('goal_stats_euro_leagues_2012-13.csv')

In [5]:
d1 = goal_data[:4]

In [6]:
d2 = goal_data[-4:]

In [7]:
d1 = d1.iloc[:,:3]

In [8]:
d2 = d2.iloc[:,3:]

In [9]:
d1

        Month           Stat   EPL
0  08/01/2012  MatchesPlayed  20.0
1  09/01/2012  MatchesPlayed  38.0
2  10/01/2012  MatchesPlayed  31.0
3  11/01/2012  MatchesPlayed  50.0

In [10]:
d2

    La Liga  Serie A  Bundesliga
18      101     99.0       106.0
19      127    102.0       104.0
20      109    102.0        92.0
21       80      NaN         NaN

In [11]:
dA = goal_data.iloc[:2,:3]

In [12]:
dB = goal_data[2:]

In [13]:
dA

        Month           Stat   EPL
0  08/01/2012  MatchesPlayed  20.0
1  09/01/2012  MatchesPlayed  38.0

In [14]:
dB

         Month           Stat    EPL  La Liga  Serie A  Bundesliga
2   10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
3   11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
4   12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
5   01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
6   02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
7   03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
8   04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
9   05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
10  06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
11  08/01/2012    GoalsScored   57.0       60     21.0        23.0
12  09/01/2012    GoalsScored  111.0      112    133.0       135.0
13  10/01/2012    GoalsScored   95.0       88     97.0        77.0
14  11/01/2012    GoalsScored  121.0      116    120.0       137.0
15  12/01/2012    GoalsScored  183.0      109    125.0        72.0
16  01/01/2013    GoalsScored  117.0      121    104.0        51.0
17  02/01/2013    GoalsScored   87.0      110    100.0       101.0
18  03/01/2013    GoalsScored   91.0      101     99.0       106.0
19  04/01/2013    GoalsScored  105.0      127    102.0       104.0
20  05/01/2013    GoalsScored   96.0      109    102.0        92.0
21  06/01/2013    GoalsScored    NaN       80      NaN         NaN

In [15]:
data = dA.append(dB)

In [17]:
data.fillna(method='bfill')

    Bundesliga    EPL  La Liga       Month  Serie A           Stat
0         27.0   20.0     31.0  08/01/2012     39.0  MatchesPlayed
1         27.0   38.0     31.0  09/01/2012     39.0  MatchesPlayed
2         27.0   31.0     31.0  10/01/2012     39.0  MatchesPlayed
3         46.0   50.0     41.0  11/01/2012     42.0  MatchesPlayed
4         26.0   59.0     39.0  12/01/2012     39.0  MatchesPlayed
5         18.0   42.0     40.0  01/01/2013     40.0  MatchesPlayed
6         36.0   30.0     40.0  02/01/2013     40.0  MatchesPlayed
7         36.0   35.0     38.0  03/01/2013     39.0  MatchesPlayed
8         36.0   42.0     42.0  04/01/2013     41.0  MatchesPlayed
9         27.0   33.0     40.0  05/01/2013     40.0  MatchesPlayed
10        23.0   57.0     10.0  06/02/2013     21.0  MatchesPlayed
11        23.0   57.0     60.0  08/01/2012     21.0    GoalsScored
12       135.0  111.0    112.0  09/01/2012    133.0    GoalsScored
13        77.0   95.0     88.0  10/01/2012     97.0    GoalsScored
14       137.0  121.0    116.0  11/01/2012    120.0    GoalsScored
15        72.0  183.0    109.0  12/01/2012    125.0    GoalsScored
16        51.0  117.0    121.0  01/01/2013    104.0    GoalsScored
17       101.0   87.0    110.0  02/01/2013    100.0    GoalsScored
18       106.0   91.0    101.0  03/01/2013     99.0    GoalsScored
19       104.0  105.0    127.0  04/01/2013    102.0    GoalsScored
20        92.0   96.0    109.0  05/01/2013    102.0    GoalsScored
21         NaN    NaN     80.0  06/01/2013      NaN    GoalsScored

In [45]:
data.fillna(method='bfill',axis=1)

   Bundesliga  EPL     La Liga       Month        Serie A           Stat
0          20   20  08/01/2012  08/01/2012  MatchesPlayed  MatchesPlayed
1          38   38  09/01/2012  09/01/2012  MatchesPlayed  MatchesPlayed
2          31   31  10/01/2012  10/01/2012  MatchesPlayed  MatchesPlayed
2          27   31          31  10/01/2012             39  MatchesPlayed
3          46   50          41  11/01/2012             42  MatchesPlayed
4          26   59          39  12/01/2012             39  MatchesPlayed
5          18   42          40  01/01/2013             40  MatchesPlayed
6          36   30          40  02/01/2013             40  MatchesPlayed
7          36   35          38  03/01/2013             39  MatchesPlayed
8          36   42          42  04/01/2013             41  MatchesPlayed
9          27   33          40  05/01/2013             40  MatchesPlayed
10         10   10          10  06/02/2013  MatchesPlayed  MatchesPlayed
11         23   57          60  08/01/2012             21    GoalsScored
12        135  111         112  09/01/2012            133    GoalsScored
13         77   95          88  10/01/2012             97    GoalsScored
14        137  121         116  11/01/2012            120    GoalsScored
15         72  183         109  12/01/2012            125    GoalsScored
16         51  117         121  01/01/2013            104    GoalsScored
17        101   87         110  02/01/2013            100    GoalsScored
18        106   91         101  03/01/2013             99    GoalsScored
19        104  105         127  04/01/2013            102    GoalsScored
20         92   96         109  05/01/2013            102    GoalsScored
21         80   80          80  06/01/2013    GoalsScored    GoalsScored

In [13]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, 5]],
                   columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [12]:
#drop row if less than 2 non-na values r there
df.dropna(thresh=2)

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1

### Handling Time Series

In [18]:
goal_data

         Month           Stat    EPL  La Liga  Serie A  Bundesliga
0   08/01/2012  MatchesPlayed   20.0       20     10.0        10.0
1   09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
2   10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
3   11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
4   12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
5   01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
6   02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
7   03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
8   04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
9   05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
10  06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
11  08/01/2012    GoalsScored   57.0       60     21.0        23.0
12  09/01/2012    GoalsScored  111.0      112    133.0       135.0
13  10/01/2012    GoalsScored   95.0       88     97.0        77.0
14  11/01/2012    GoalsScored  121.0      116    120.0       137.0
15  12/01/2012    GoalsScored  183.0      109    125.0        72.0
16  01/01/2013    GoalsScored  117.0      121    104.0        51.0
17  02/01/2013    GoalsScored   87.0      110    100.0       101.0
18  03/01/2013    GoalsScored   91.0      101     99.0       106.0
19  04/01/2013    GoalsScored  105.0      127    102.0       104.0
20  05/01/2013    GoalsScored   96.0      109    102.0        92.0
21  06/01/2013    GoalsScored    NaN       80      NaN         NaN

In [19]:
goal_data['Month'] = pd.to_datetime(goal_data['Month'])

In [49]:
goal_data

        Month           Stat    EPL  La Liga  Serie A  Bundesliga
0  2012-08-01  MatchesPlayed   20.0       20     10.0        10.0
1  2012-09-01  MatchesPlayed   38.0       39     50.0        44.0
2  2012-10-01  MatchesPlayed   31.0       31     39.0        27.0
3  2012-11-01  MatchesPlayed   50.0       41     42.0        46.0
4  2012-12-01  MatchesPlayed   59.0       39     39.0        26.0
5  2013-01-01  MatchesPlayed   42.0       40     40.0        18.0
6  2013-02-01  MatchesPlayed   30.0       40     40.0        36.0
7  2013-03-01  MatchesPlayed   35.0       38     39.0        36.0
8  2013-04-01  MatchesPlayed   42.0       42     41.0        36.0
9  2013-05-01  MatchesPlayed   33.0       40     40.0        27.0
10 2013-06-02  MatchesPlayed    NaN       10      NaN         NaN
11 2012-08-01    GoalsScored   57.0       60     21.0        23.0
12 2012-09-01    GoalsScored  111.0      112    133.0       135.0
13 2012-10-01    GoalsScored   95.0       88     97.0        77.0
14 2012-11-01    GoalsScored  121.0      116    120.0       137.0
15 2012-12-01    GoalsScored  183.0      109    125.0        72.0
16 2013-01-01    GoalsScored  117.0      121    104.0        51.0
17 2013-02-01    GoalsScored   87.0      110    100.0       101.0
18 2013-03-01    GoalsScored   91.0      101     99.0       106.0
19 2013-04-01    GoalsScored  105.0      127    102.0       104.0
20 2013-05-01    GoalsScored   96.0      109    102.0        92.0
21 2013-06-01    GoalsScored    NaN       80      NaN         NaN

In [51]:
d = pd.datetime(2017,12,20)

In [53]:
d

datetime.datetime(2017, 12, 20, 0, 0)

In [55]:
d + pd.DateOffset(12)

Timestamp('2018-01-01 00:00:00')

In [56]:
from datetime import datetime

In [57]:
datetime.now()

datetime.datetime(2017, 7, 13, 7, 46, 18, 318885)

In [20]:
from dateutil import parser
date = parser.parse("13th of July,2017")
date1 = parser.parse("5th of November,2017")
date2 = parser.parse("7th of November,2017")

In [63]:
date

datetime.datetime(2017, 7, 13, 0, 0)

In [60]:
date2 - date1

datetime.timedelta(2)

In [64]:
#Find weekof the day
date.strftime('%A')

'Thursday'

In [21]:
help(date.strftime)

Help on built-in function strftime:

strftime(...) method of datetime.datetime instance
    format -> strftime() style string.

In [66]:
#Find year the day
date.strftime('%Y')

'2017'

In [67]:
help(date.strftime)

Help on built-in function strftime:

strftime(...) method of datetime.datetime instance
    format -> strftime() style string.

In [69]:
#Find year the day
date.strftime('%M')

'00'

In [22]:
date = pd.to_datetime("13th of July 2017")

In [23]:
date

Timestamp('2017-07-13 00:00:00')

In [74]:
date + pd.to_timedelta(np.arange(12),'M')

DatetimeIndex(['2017-07-13 00:00:00', '2017-08-12 10:29:06',
               '2017-09-11 20:58:12', '2017-10-12 07:27:18',
               '2017-11-11 17:56:24', '2017-12-12 04:25:30',
               '2018-01-11 14:54:36', '2018-02-11 01:23:42',
               '2018-03-13 11:52:48', '2018-04-12 22:21:54',
               '2018-05-13 08:51:00', '2018-06-12 19:20:06'],
              dtype='datetime64[ns]', freq=None)

In [76]:
date + pd.to_timedelta(np.arange(12),'D')

DatetimeIndex(['2017-07-13', '2017-07-14', '2017-07-15', '2017-07-16',
               '2017-07-17', '2017-07-18', '2017-07-19', '2017-07-20',
               '2017-07-21', '2017-07-22', '2017-07-23', '2017-07-24'],
              dtype='datetime64[ns]', freq=None)

In [33]:
index = pd.DatetimeIndex(['2017-07-04','2017-08-4','2017-09-04','2017-06-04'])

In [31]:
data = pd.Series([0,1,2,3], index=index)
data_dummy = pd.Series([0,1,2,3], index=['2017-07-04','2017-08-4','2017-09-04','2017-06-04'])

In [26]:
data

2017-07-04    0
2017-08-04    1
2017-09-04    2
2017-06-04    3
dtype: int64

In [34]:
data['2017-06-04':'2017-09-04']

2017-07-04    0
2017-08-04    1
2017-09-04    2
2017-06-04    3
dtype: int64

In [35]:
data_dummy['2017-07-04':'2017-09-04']

2017-07-04    0
2017-08-4     1
2017-09-04    2
dtype: int64

In [20]:
data['2017']

2017-07-04    0
2017-08-04    1
2017-09-04    2
2017-06-04    3
dtype: int64

In [89]:
data = pd.Series([0,1,2,3], index=['2017-07-04','2017-08-4','2017-09-04','2017-6-04'])

In [91]:
data['2017-06-04':'2017-09-04']

2017-07-04    0
2017-08-4     1
2017-09-04    2
dtype: int64

In [96]:
data

2017-07-04    0
2017-08-04    1
2017-09-04    2
2017-06-04    3
dtype: int64

In [97]:
index = pd.DatetimeIndex(['2017-07-04','2018-08-4','2017-09-04','2017-6-04'])

In [98]:
data = pd.Series([0,1,2,3], index=index)

In [99]:
data['2017']

2017-07-04    0
2017-09-04    2
2017-06-04    3
dtype: int64

In [100]:
pd.date_range('2017-02-26', '2017-03-02')

DatetimeIndex(['2017-02-26', '2017-02-27', '2017-02-28', '2017-03-01',
               '2017-03-02'],
              dtype='datetime64[ns]', freq='D')

In [21]:
from pandas_datareader import data

In [24]:
goog = data.DataReader('GOOG', start='2004', end='2017',
                       data_source='google')

In [25]:
goog

              Open    High     Low   Close     Volume
Date
2004-08-19   49.96   51.98   47.93   50.12        NaN
2004-08-20   50.69   54.49   50.20   54.10        NaN
2004-08-23   55.32   56.68   54.47   54.65        NaN
2004-08-24   55.56   55.74   51.73   52.38        NaN
2004-08-25   52.43   53.95   51.89   52.95        NaN
2004-08-26   52.42   53.92   52.28   53.90        NaN
2004-08-27   54.00   54.26   52.79   53.02        NaN
2004-08-30   52.69   52.69   50.95   50.95        NaN
2004-08-31   51.11   51.80   51.03   51.13        NaN
2004-09-01   51.30   51.43   49.79   50.07        NaN
2004-09-02   49.50   51.13   49.42   50.70        NaN
2004-09-03   50.42   50.82   49.61   49.95        NaN
2004-09-07   50.45   50.95   49.76   50.74        NaN
2004-09-08   50.32   51.46   50.20   51.10        NaN
2004-09-09   51.20   51.30   50.45   51.10        NaN
2004-09-10   50.75   53.23   50.60   52.61        NaN
2004-09-13   53.26   54.15   53.18   53.70        NaN
2004-09-14   53.67   55.94   53.34   55.69        NaN
2004-09-15   55.22   57.06   55.04   55.94        NaN
2004-09-16   56.11   57.84   55.77   56.93        NaN
2004-09-17   57.15   58.69   56.72   58.69        NaN
2004-09-20   58.42   60.74   58.33   59.62        NaN
2004-09-21   60.04   60.15   58.70   58.86        NaN
2004-09-22   58.67   59.78   58.35   59.13        NaN
2004-09-23   59.36   61.25   58.45   60.35        NaN
2004-09-24   60.42   61.99   59.82   59.86        NaN
2004-09-27   59.72   60.38   58.84   59.07        NaN
2004-09-28   60.51   63.64   60.04   63.37        NaN
2004-09-29   63.20   67.44   63.05   65.47        NaN
2004-09-30   64.88   66.08   64.44   64.74        NaN
...            ...     ...     ...     ...        ...
2016-11-17  766.92  772.70  764.23  771.23  1286961.0
2016-11-18  771.37  775.00  760.00  760.54  1547145.0
2016-11-21  762.61  769.70  760.60  769.20  1330639.0
2016-11-22  772.63  776.96  767.00  768.27  1593108.0
2016-11-23  767.73  768.28  755.25  760.99  1478417.0
2016-11-25  764.26  765.00  760.52  761.68   587421.0
2016-11-28  760.00  779.53  759.80  768.24  2188151.0
2016-11-29  771.53  778.50  768.24  770.84  1616618.0
2016-11-30  770.07  772.99  754.83  758.04  2392890.0
2016-12-01  757.44  759.85  737.02  747.92  3017947.0
2016-12-02  744.59  754.00  743.10  750.50  1452484.0
2016-12-05  757.71  763.90  752.90  762.52  1394223.0
2016-12-06  764.73  768.83  757.34  759.11  1690689.0
2016-12-07  761.00  771.36  755.80  771.19  1760966.0
2016-12-08  772.48  778.18  767.23  776.42  1488059.0
2016-12-09  780.00  789.43  779.02  789.29  1821914.0
2016-12-12  785.04  791.25  784.36  789.27  2104117.0
2016-12-13  793.90  804.38  793.34  796.10  2145209.0
2016-12-14  797.40  804.00  794.01  797.07  1704150.0
2016-12-15  797.34  803.00  792.92  797.85  1626499.0
2016-12-16  800.40  800.86  790.29  790.80  2443796.0
2016-12-19  790.22  797.66  786.27  794.20  1232087.0
2016-12-20  796.76  798.65  793.27  796.42   951014.0
2016-12-21  795.84  796.68  787.10  794.56  1211346.0
2016-12-22  792.36  793.32  788.58  791.26   972169.0
2016-12-23  790.90  792.74  787.28  789.91   623944.0
2016-12-27  790.68  797.86  787.66  791.55   789321.0
2016-12-28  793.70  794.23  783.20  785.05  1153824.0
2016-12-29  783.33  785.93  778.92  782.79   744272.0
2016-12-30  782.75  782.78  770.41  771.82  1769950.0

[3114 rows x 5 columns]

In [104]:
goog['2015-12-28':'2015-12-31']

              Open    High     Low   Close     Volume
Date
2015-12-28  752.92  762.99  749.52  762.51  1515716.0
2015-12-29  766.69  779.98  766.43  776.60  1765012.0
2015-12-30  776.60  777.60  766.90  771.00  1293521.0
2015-12-31  769.50  769.50  758.34  758.88  1500923.0

In [107]:
rand_index = np.random.choice(1600, size=25)

In [108]:
rand_index

array([  46,  350,  907, 1295,  558,  888, 1370,  132,  831,  658,   50,
          1,  215, 1151,  752,  987, 1222, 1213, 1309,  857,  898,  978,
        424,  658, 1218])