* Dataset http://archive.ics.uci.edu/ml/datasets/Bank+Marketing
* Predict If the user have opted for term deposit or not

In [4]:
import pandas as pd

In [5]:
bank_data = pd.read_csv('data/bank.csv',sep=';')

In [6]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [7]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [8]:
bank_data.job.unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [9]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [10]:
#we are converting categorical information to number as part of featurization
cat_cols = [ 'job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'month',  'poutcome', 'y']

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
for col in cat_cols:
    le = LabelEncoder()
    bank_data[col] = le.fit_transform(bank_data[col])

In [13]:
bank_data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,7,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,4,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,4,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,1,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0
5,35,4,2,2,0,747,0,0,0,23,3,141,2,176,3,0,0
6,36,6,1,2,0,307,1,0,0,14,8,341,1,330,2,1,0
7,39,9,1,1,0,147,1,0,0,6,8,151,2,-1,0,3,0
8,41,2,1,2,0,221,1,0,2,14,8,57,2,-1,0,3,0
9,43,7,1,0,0,-88,1,1,0,17,0,313,1,147,2,0,0
10,39,7,1,1,0,9374,1,0,2,20,8,273,1,-1,0,3,0
11,43,0,1,1,0,264,1,0,0,17,0,113,2,-1,0,3,0
12,36,9,1,2,0,1109,0,0,0,13,1,328,2,-1,0,3,0
13,20,8,2,1,0,502,0,0,0,30,0,261,1,-1,0,3,1
14,31,1,1,1,0,360,1,1,0,29,4,89,1,241,1,0,0
15,40,4,1,2,0,194,0,1,0,29,1,189,2,-1,0,3,0
16,56,9,1,1,0,4073,0,0,0,27,1,239,5,-1,0,3,0
17,37,0,2,2,0,2317,1,0,0,20,0,114,1,152,2,0,0
18,25,1,2,0,0,-221,1,0,2,23,8,250,1,-1,0,3,0
19,31,7,1,1,0,132,0,0,0,7,5,148,1,152,1,1,0
20,38,4,0,3,0,0,1,0,0,18,9,96,2,-1,0,3,0
21,42,4,0,2,0,16,0,0,0,19,9,140,3,-1,0,3,0
22,44,7,2,1,0,106,0,0,2,12,6,109,2,-1,0,3,0
23,44,2,1,1,0,93,0,0,0,7,5,125,2,-1,0,3,0
24,26,3,1,2,0,543,0,0,0,30,4,169,3,-1,0,3,0
25,41,4,1,2,0,5883,0,0,0,20,9,182,2,-1,0,3,0
26,55,1,1,0,0,627,1,0,2,5,8,247,1,-1,0,3,0
27,67,5,1,3,0,696,0,0,1,17,1,119,1,105,2,0,0
28,56,6,1,1,0,784,0,1,0,30,5,149,2,-1,0,3,0
29,53,0,1,1,0,105,0,1,0,21,1,74,2,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,1,2,1,0,0,1,0,0,16,0,169,1,-1,0,3,0
4492,32,9,2,1,0,309,1,1,0,16,0,346,1,234,3,0,0
4493,28,9,2,2,0,0,1,0,2,4,6,205,6,-1,0,3,0
4494,26,9,2,1,0,668,1,0,2,28,8,576,3,-1,0,3,1
4495,48,4,1,2,0,1175,1,0,1,18,9,1476,3,-1,0,3,0
4496,30,1,2,1,0,363,0,0,0,28,5,171,3,-1,0,3,0
4497,31,2,2,2,0,38,0,0,0,20,9,185,2,-1,0,3,0
4498,31,4,1,2,0,1183,1,0,2,27,8,676,6,-1,0,3,0
4499,45,1,0,0,0,942,0,0,0,21,9,362,1,-1,0,3,0
4500,38,0,1,1,0,4196,1,0,0,12,8,193,2,-1,0,3,0
4501,34,4,1,2,0,297,1,0,0,26,1,63,4,-1,0,3,0
4502,42,7,1,1,0,-91,1,1,0,5,3,43,1,-1,0,3,0
4503,60,6,1,0,0,362,0,1,0,29,5,816,6,-1,0,3,1
4504,42,1,2,1,0,1080,1,1,0,13,8,951,3,370,4,0,1
4505,32,0,2,1,0,620,1,0,2,26,8,1234,3,-1,0,3,1
4506,42,10,0,2,0,-166,0,0,0,29,1,85,4,-1,0,3,0
4507,33,7,1,1,0,288,1,0,0,17,0,306,1,-1,0,3,0
4508,42,0,1,3,0,642,1,1,2,16,8,509,2,-1,0,3,0
4509,51,9,1,2,0,2506,0,0,0,30,9,210,3,-1,0,3,0
4510,36,9,0,1,0,566,1,0,2,20,8,129,2,-1,0,3,0
4511,46,1,1,1,0,668,1,0,2,15,8,1263,2,-1,0,3,1
4512,40,1,1,1,0,1100,1,0,2,29,8,660,2,-1,0,3,0
4513,49,1,1,1,0,322,0,0,0,14,1,356,2,-1,0,3,0
4514,38,1,1,1,0,1205,1,0,0,20,0,45,4,153,1,0,0
4515,32,7,2,1,0,473,1,0,0,7,5,624,5,-1,0,3,0
4516,33,7,1,1,0,-333,1,0,0,30,5,329,5,-1,0,3,0
4517,57,6,1,2,1,-3313,1,1,2,9,8,153,1,-1,0,3,0
4518,57,9,1,1,0,295,0,0,0,19,1,151,11,-1,0,3,0
4519,28,1,1,1,0,1137,0,0,0,6,3,129,4,211,3,1,0
4520,44,2,2,2,0,1136,1,1,0,3,0,345,2,249,7,1,0

In [14]:
bank_data.corr()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
age,1.000000,-0.021500,-0.381485,-0.121613,-0.017885,0.083820,-0.193888,-0.011250,0.015161,-0.017853,-0.040714,-0.002367,-0.005148,-0.008894,-0.003511,-0.009320,0.045092
job,-0.021500,1.000000,0.069390,0.170160,0.008324,0.009797,-0.128353,-0.040245,-0.074068,0.012865,-0.096613,-0.006739,-0.002739,-0.022760,0.005029,0.013049,0.027401
marital,-0.381485,0.069390,1.000000,0.102714,-0.020745,0.024971,-0.029851,-0.045210,-0.068236,0.008794,-0.035855,0.006619,0.005915,0.017050,0.038028,-0.027716,0.015042
education,-0.121613,0.170160,0.102714,1.000000,-0.010534,0.057725,-0.087070,-0.054086,-0.110554,0.014926,-0.050086,-0.014878,-0.001723,0.012077,0.023983,-0.032135,0.042987
default,-0.017885,0.008324,-0.020745,-0.010534,1.000000,-0.070886,0.006881,0.063994,0.008448,-0.013261,0.014297,-0.011615,-0.012348,-0.026317,-0.026656,0.039032,0.001303
balance,0.083820,0.009797,0.024971,0.057725,-0.070886,1.000000,-0.050227,-0.071349,-0.009665,-0.008677,0.023113,-0.015950,-0.009976,0.009437,0.026196,-0.029268,0.017905
housing,-0.193888,-0.128353,-0.029851,-0.087070,0.006881,-0.050227,1.000000,0.018451,0.196454,-0.031291,0.266630,0.015740,-0.003574,0.116893,0.038621,-0.093093,-0.104683
loan,-0.011250,-0.040245,-0.045210,-0.054086,0.063994,-0.071349,0.018451,1.000000,-0.007319,-0.004879,0.016329,-0.004997,0.017120,-0.031086,-0.022115,0.027028,-0.070517
contact,0.015161,-0.074068,-0.068236,-0.110554,0.008448,-0.009665,0.196454,-0.007319,1.000000,-0.033807,0.370077,-0.011380,0.012278,-0.243223,-0.187232,0.267173,-0.133595
day,-0.017853,0.012865,0.008794,0.014926,-0.013261,-0.008677,-0.031291,-0.004879,-0.033807,1.000000,-0.014795,-0.024629,0.160706,-0.094352,-0.059114,0.073714,-0.011244
month,-0.040714,-0.096613,-0.035855,-0.050086,0.014297,0.023113,0.266630,0.016329,0.370077,-0.014795,1.000000,0.000851,-0.108915,0.033292,0.046899,-0.030189,-0.040933
duration,-0.002367,-0.006739,0.006619,-0.014878,-0.011615,-0.015950,0.015740,-0.004997,-0.011380,-0.024629,0.000851,1.000000,-0.068382,0.010380,0.018080,0.000478,0.401118
campaign,-0.005148,-0.002739,0.005915,-0.001723,-0.012348,-0.009976,-0.003574,0.017120,0.012278,0.160706,-0.108915,-0.068382,1.000000,-0.093137,-0.067833,0.110703,-0.061147
pdays,-0.008894,-0.022760,0.017050,0.012077,-0.026317,0.009437,0.116893,-0.031086,-0.243223,-0.094352,0.033292,0.010380,-0.093137,1.000000,0.577562,-0.859245,0.104087
previous,-0.003511,0.005029,0.038028,0.023983,-0.026656,0.026196,0.038621,-0.022115,-0.187232,-0.059114,0.046899,0.018080,-0.067833,0.577562,1.000000,-0.636372,0.116714
poutcome,-0.009320,0.013049,-0.027716,-0.032135,0.039032,-0.029268,-0.093093,0.027028,0.267173,0.073714,-0.030189,0.000478,0.110703,-0.859245,-0.636372,1.000000,-0.082632
y,0.045092,0.027401,0.015042,0.042987,0.001303,0.017905,-0.104683,-0.070517,-0.133595,-0.011244,-0.040933,0.401118,-0.061147,0.104087,0.116714,-0.082632,1.000000

In [15]:
import numpy as np
bank_data.corr()['y']

age          0.045092
job          0.027401
marital      0.015042
education    0.042987
default      0.001303
balance      0.017905
housing     -0.104683
loan        -0.070517
contact     -0.133595
day         -0.011244
month       -0.040933
duration     0.401118
campaign    -0.061147
pdays        0.104087
previous     0.116714
poutcome    -0.082632
y            1.000000
Name: y, dtype: float64

In [17]:
s = np.abs(bank_data.corr()['y'])

In [18]:
#Sorting based on imp
s.sort_values(ascending=False)

y            1.000000
duration     0.401118
contact      0.133595
previous     0.116714
housing      0.104683
pdays        0.104087
poutcome     0.082632
loan         0.070517
campaign     0.061147
age          0.045092
education    0.042987
month        0.040933
job          0.027401
balance      0.017905
marital      0.015042
day          0.011244
default      0.001303
Name: y, dtype: float64

In [20]:
imp_cols = ['duration','contact','previous','housing','pdays']

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.naive_bayes import GaussianNB as GB
from sklearn.metrics import accuracy_score

In [24]:
models = []
Classification_names = ['RF','GB','knn','LR']
Classification_models = [RandomForestClassifier(n_estimators=100),GB(),knn(n_neighbors=7),LogisticRegression()]

In [25]:
def Classification_model(model,Data,x,y): 
    # here x is the col name which are used for prediction
    # y is the prediction col
    '''
    train,test = train_test_split(Data,test_size= 0.33)
    train_x = Data.loc[train.index,x] # Data for training only with features
    train_y = Data.loc[train.index,y] # Data for training only with predcition variable
    
    test_x = Data.loc[test.index,x] # same as for training 
    test_y = Data.loc[test.index,y]
    
    model.fit(train_x,train_y.values.ravel())
    
    '''
    X = Data[x]
    y = Data[y]
    
    trainX,testX,trainY,testY = train_test_split(X,y)
    model.fit(trainX,trainY)
    
    pred=model.predict(testX)
    
    accuracy=accuracy_score(testY,pred)
    return accuracy

In [26]:

for idx,model in enumerate(Classification_models):
    Accuracy = Classification_model(model,bank_data,imp_cols,'y')
    print (Classification_names[idx],Accuracy)

RF 0.881520778073
GB 0.875331564987
knn 0.877984084881
LR 0.890362511052