In [1]:
import pandas as pd

In [3]:
hr_data = pd.read_csv('HR_comma_sep.csv')

In [7]:
#rename column sales to department
hr_data.rename(columns={'sales':'department'},inplace=True)

In [8]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [9]:
hr_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [10]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
department               14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [11]:
hr_data.groupby('number_project').size()

number_project
2    2388
3    4055
4    4365
5    2761
6    1174
7     256
dtype: int64

In [14]:
gb = hr_data.groupby('department')

In [13]:
hr_data.groupby('salary').size()

salary
high      1237
low       7316
medium    6446
dtype: int64

In [27]:
def f(s):
    low = sum(s == 'low')
    medium = sum(s == 'medium')
    high = sum(s == 'high')
    return 'low ' + str(low) + ',medium ' + str(medium) + ' high ' + str(high)

gb.salary.agg(f)

department
IT                low 609,medium 535 high 83
RandD             low 364,medium 372 high 51
accounting        low 358,medium 335 high 74
hr                low 335,medium 359 high 45
management       low 180,medium 225 high 225
marketing         low 402,medium 376 high 80
product_mng       low 451,medium 383 high 68
sales          low 2099,medium 1772 high 269
support         low 1146,medium 942 high 141
technical      low 1372,medium 1147 high 201
Name: salary, dtype: object

In [21]:
s = pd.Series(['a','b','c','a'])

In [25]:
sum(s == 'a')

2