In [1]:
import pandas as pd

In [3]:
emp_data = pd.read_csv('HR_comma_sep.csv')

In [4]:
emp_data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [8]:
emp_data.rename(columns={'sales':'department'},inplace=True)

In [10]:
len(emp_data)

14999

In [12]:
#people who left
len(emp_data[emp_data.left == 1])

3571

In [13]:
emp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
department               14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

### Featurization - Converting String to numbers

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [18]:
emp_data['salary'] = le.fit_transform(emp_data.salary)

In [19]:
emp_data['department'] = le.fit_transform(emp_data.department)

### Finding important features/columns
* We will use RandomForest for feature identification

In [92]:
data = emp_data.loc[:,emp_data.columns != 'left']

In [93]:
pred = emp_data['left']

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
model = RandomForestClassifier(n_estimators=1000)

In [34]:
pred.values

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [36]:
model.fit(data,pred.values)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [37]:
model.feature_importances_

array([ 0.34313806,  0.11872019,  0.18036941,  0.14633834,  0.18475989,
        0.0055402 ,  0.0009203 ,  0.01224341,  0.00797019])

In [38]:
data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years', 'department', 'salary'],
      dtype='object')

In [39]:
#First 5 features are important for training

In [90]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier,AdaBoostClassifier

from sklearn.model_selection import train_test_split

models_name = ["RF", "GBC", "LR","ABC"]
models = [RandomForestClassifier(n_estimators=100),GradientBoostingClassifier(n_estimators=100),LogisticRegression(), AdaBoostClassifier(n_estimators=100)]

In [94]:
trainX, testX, trainY, testY = train_test_split(data,pred)

In [56]:
from sklearn.metrics import accuracy_score

In [95]:
trainX.shape

(11249, 9)

In [58]:
testX.shape

(3750, 9)

In [96]:
# With all features
i = 0
for model in models:
    
    model.fit(trainX,trainY)
    prediction = model.predict(testX)
    accuracy = accuracy_score(testY,prediction)
    print (models_name[i] + ' ' + str(accuracy))
    i += 1

RF 0.990133333333
GBC 0.973333333333
LR 0.765866666667
ABC 0.956533333333

In [67]:
#Using only important features

In [84]:
data = data[['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company']]

In [73]:
 data.columns.tolist()[:5]

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company']

In [85]:
trainX, testX, trainY, testY = train_test_split(data,pred)

In [91]:
# With 5 imp features
i = 0
for model in models:
    
    model.fit(trainX,trainY)
    prediction = model.predict(testX)
    accuracy = accuracy_score(testY,prediction)
    print (models_name[i] + ' ' + str(accuracy))
    i += 1

RF 0.990133333333
GBC 0.972
LR 0.761866666667
ABC 0.9616

In [82]:
trainX.shape

(11249, 6)

In [83]:
trainX

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident
1040,0.11,0.89,6,309,4,0
1259,0.45,0.48,2,138,3,0
14190,0.52,0.55,5,174,3,1
6140,0.98,0.77,4,184,3,0
1976,0.37,0.47,2,159,3,1
10209,0.50,0.80,4,261,3,0
8966,0.51,0.91,4,194,2,0
4046,0.71,0.96,4,144,4,0
1721,0.26,0.46,2,242,3,0
10751,0.84,0.96,6,155,5,0
12620,0.80,0.75,3,268,2,0
165,0.11,0.84,7,296,4,0
1975,0.46,0.54,2,138,3,0
13129,0.64,0.90,5,266,3,0
11712,0.75,0.66,5,234,2,0
12401,0.76,0.92,4,246,5,0
8978,0.49,0.58,3,265,3,0
475,0.45,0.57,2,134,3,0
9180,0.48,0.96,4,224,2,1
3535,0.96,0.50,3,234,2,1
2852,0.56,0.66,3,232,2,0
14851,0.37,0.52,2,128,3,0
2614,0.88,0.60,4,224,2,0
365,0.91,0.87,4,235,5,0
13308,0.57,0.64,3,188,3,0
6658,0.95,0.67,3,153,2,0
7792,0.83,0.68,4,198,3,0
13782,0.79,0.56,3,149,10,0
2102,0.15,0.53,6,222,3,0
9507,0.53,0.58,4,134,2,0
...,...,...,...,...,...,...
7383,0.77,0.98,3,273,3,0
13914,0.59,0.60,3,214,2,1
2304,0.51,0.53,3,201,2,0
8162,0.59,0.59,3,141,3,0
10467,0.59,0.52,6,190,4,0
3484,0.80,0.97,5,271,4,0
3349,0.93,0.67,5,237,4,0
11231,0.79,0.83,3,126,10,1
6216,0.56,0.59,5,209,2,1
2861,0.91,0.89,4,144,3,1
13198,0.54,0.73,3,157,3,0
10738,0.68,0.84,3,270,3,0
6519,0.91,0.76,3,159,3,0
13258,0.36,0.44,5,155,3,0
511,0.53,0.85,2,164,5,0
11556,0.56,0.79,5,248,3,0
13573,0.43,0.65,4,124,2,0
6922,0.48,0.41,5,286,3,0
8456,0.49,0.65,3,168,4,0
3675,0.64,0.67,3,165,3,0
10282,0.91,0.69,4,259,3,0
3208,0.95,0.98,5,155,3,0
2235,0.15,0.74,6,212,2,0
1849,0.45,0.53,2,159,3,0
8195,0.56,0.98,3,251,3,1
7982,0.79,0.45,5,131,6,0
7527,0.96,0.91,3,257,3,0
4552,0.51,0.91,4,269,5,0
4488,0.62,0.97,4,266,3,0
10806,0.95,0.67,4,261,3,0