* Dataset http://archive.ics.uci.edu/ml/datasets/Bank+Marketing
* Predict If the user have opted for term deposit or not

In [1]:
import pandas as pd

In [4]:
bank_data = pd.read_csv('data/bank.csv',sep=';')

In [5]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [6]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [7]:
bank_data.job.unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [8]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [9]:
#we are converting categorical information to number as part of featurization
cat_cols = [ 'job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'month',  'poutcome', 'y']

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
for col in cat_cols:
    le = LabelEncoder()
    bank_data[col] = le.fit_transform(bank_data[col])

In [25]:
import numpy as np
s = np.abs(bank_data.corr()['y'])

In [27]:
#Sorting based on imp
s.sort_values(ascending=False)

y            1.000000
duration     0.401118
contact      0.133595
previous     0.116714
housing      0.104683
pdays        0.104087
poutcome     0.082632
loan         0.070517
campaign     0.061147
age          0.045092
education    0.042987
month        0.040933
job          0.027401
balance      0.017905
marital      0.015042
day          0.011244
default      0.001303
Name: y, dtype: float64

In [28]:
imp_cols = ['duration','contact','previous','housing','pdays']

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.naive_bayes import GaussianNB as GB
from sklearn.metrics import accuracy_score

In [37]:

Classification_names = ['RF','GB','knn','LR']
Classification_models = [RandomForestClassifier(n_estimators=100),GB(),knn(n_neighbors=7),LogisticRegression()]

In [33]:
def Classification_model(model,Data,x,y): # here x is the variable which are used for prediction
    # y is the prediction variable
    train,test = train_test_split(Data,test_size= 0.33)
    train_x = Data.loc[train.index,x] # Data for training only with features
    train_y = Data.loc[train.index,y] # Data for training only with predcition variable
    test_x = Data.loc[test.index,x] # same as for training 
    test_y = Data.loc[test.index,y]
    
    model.fit(train_x,train_y.values.ravel())
    
    pred=model.predict(test_x)
    
    accuracy=accuracy_score(test_y,pred)
    return accuracy

In [38]:

for idx,model in enumerate(Classification_models):
    Accuracy = Classification_model(model,bank_data,imp_cols,'y')
    print (Classification_names[idx],Accuracy)

RF 0.871983914209
GB 0.865951742627
knn 0.892761394102
LR 0.89745308311