In [19]:
import pandas as pd

In [20]:
service_request = pd.read_csv('service_request.csv',encoding = "ISO-8859-1")

In [21]:
service_request.head()

,Employee Organization Name,Employee Login,Service Request #,Status,Closed Date,Opened Date,Description,Actual Start Date-Time,Actual End Date-Time,Product,...,Full Name,City,Country,Created Year,Created Date,Attachment Name,Type,Order Status,Order Type,Order #
0,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,1/13/2015 16:04,1/9/2015 15:32,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,Lastyear.maint,maint,Closed,RMA Advance Exchange,1-6425103393
1,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,1/13/2015 16:04,1/9/2015 15:32,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MICROSOFT RCA-CFR-DCA.xlsx,xlsx,Closed,RMA Advance Exchange,1-6425103393
2,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,1/13/2015 16:04,1/9/2015 15:32,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS AFTER PM REPLACEMENTMIM_Frame_PD1119360094_...,txt,Closed,RMA Advance Exchange,1-6425103393
3,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,1/13/2015 16:04,1/9/2015 15:32,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS MIM_Frame_PD1119360094_2015_01_09_21h51mn51...,txt,Closed,RMA Advance Exchange,1-6425103393
4,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,1/13/2015 16:04,1/9/2015 15:32,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS RIM_Frame_PD1119360094_2015_01_09_22h07mn47...,txt,Closed,RMA Advance Exchange,1-6425103393

In [6]:
service_request.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36195 entries, 0 to 36194
Data columns (total 30 columns):
Employee Organization Name    36195 non-null object
Employee Login                36195 non-null object
Service Request #             36195 non-null object
Status                        36195 non-null object
Closed Date                   36190 non-null object
Opened Date                   36195 non-null object
Description                   36181 non-null object
Actual Start Date-Time        34607 non-null object
Actual End Date-Time          36096 non-null object
Product                       36195 non-null object
Product Line                  36195 non-null object
Expected Serial #             36169 non-null object
Asset #                       36195 non-null object
Activity Type                 36195 non-null object
Activity SubType              36195 non-null object
Comments                      35903 non-null object
Billing Class                 36195 non-null object
Attachment Flag               36195 non-null object
Account Name                  36195 non-null object
Primary Street Address 1      36195 non-null object
Full Name                     36195 non-null object
City                          36195 non-null object
Country                       36195 non-null object
Created Year                  36195 non-null int64
Created Date                  36195 non-null object
Attachment Name               36195 non-null object
Type                          35391 non-null object
Order Status                  36195 non-null object
Order Type                    36195 non-null object
Order #                       36195 non-null object
dtypes: int64(1), object(29)
memory usage: 8.3+ MB

In [8]:
service_request.Description

0                                 Power Module Fault
1                                 Power Module Fault
2                                 Power Module Fault
3                                 Power Module Fault
4                                 Power Module Fault
5                                 Power Module Fault
6                                 Power Module Fault
7                                            UPS Off
8                                            UPS Off
9                                            UPS Off
10                            PFC Fault (IGBT Blast)
11                            PFC Fault (IGBT Blast)
12                            PFC Fault (IGBT Blast)
13                                   Inverter faulty
14                                   Inverter faulty
15                                   Inverter faulty
16                                Controller Tripped
17                                Controller Tripped
18                   UPS not working in battery mode
19                   UPS not working in battery mode
20                   UPS not working in battery mode
21                             Input contactor fault
22                                     Error Message
23                                     Error Message
24                                    Noise From Fan
25                                    Noise From Fan
26                              Power Module Failure
27                              Power Module Failure
28                              Power Module Failure
29                             UPS into by Pass mode
                            ...
36165    P-High Temperature , Compressor Not working
36166                       Low Evaporating pressure
36167                             compressor failure
36168                          Expansion Valve Issue
36169                                Cooling Problem
36170               Display failure display replaced
36171                             Blower not working
36172                              Outdoor Fan issue
36173                            Unit is not working
36174                               Controller Issue
36175                                    Not Cooling
36176                                    Gas leakage
36177                             Lan card   problem
36178                                    Not Working
36179                            AC Compressor Fault
36180                               Compressor Fault
36181                                   Sensor Issue
36182                                  Airflow issue
36183                                      Fan fault
36184                                    Not Working
36185                                    Oil Leakage
36186                                     Card Issue
36187                                    Gas Leakage
36188                               Controller Issue
36189                      Compressor is not working
36190                          Condenser fan failure
36191                                    Gas Leakage
36192                                    Gas leakage
36193                                    Not working
36194                                    Not working
Name: Description, Length: 36195, dtype: object

In [11]:
len(service_request.Description.unique())

6537

In [14]:
service_request['Activity Type'].unique()

array(['Maintenance', 'Service Partner Coordination'], dtype=object)

In [15]:
service_request['Activity SubType'].unique()

array(['Break Fix-Corrective Maint', 'Break Fix'], dtype=object)

In [17]:
pd.to_datetime(service_request['Closed Date'])

0       2015-01-13 16:04:00
1       2015-01-13 16:04:00
2       2015-01-13 16:04:00
3       2015-01-13 16:04:00
4       2015-01-13 16:04:00
5       2015-01-13 16:04:00
6       2015-01-13 16:04:00
7       2015-01-19 12:50:00
8       2015-01-19 12:50:00
9       2015-01-19 12:50:00
10      2015-01-19 12:46:00
11      2015-01-19 12:46:00
12      2015-01-19 12:46:00
13      2015-01-20 11:49:00
14      2015-01-20 11:49:00
15      2015-01-20 11:49:00
16      2015-01-27 12:29:00
17      2015-01-27 12:29:00
18      2015-02-16 12:06:00
19      2015-02-16 12:06:00
20      2015-02-16 12:06:00
21      2015-03-29 13:05:00
22      2015-03-11 06:15:00
23      2015-03-11 06:15:00
24      2015-03-19 07:58:00
25      2015-03-19 07:58:00
26      2015-03-18 11:32:00
27      2015-03-18 11:32:00
28      2015-03-18 11:32:00
29      2015-03-23 09:15:00
                ...
36165   2016-10-10 06:29:00
36166   2016-10-17 09:48:00
36167   2016-10-24 17:27:00
36168   2016-10-23 14:16:00
36169   2016-10-25 11:52:00
36170   2016-11-04 11:29:00
36171   2016-11-08 11:22:00
36172   2016-11-11 11:05:00
36173   2016-11-10 17:10:00
36174   2016-12-09 07:16:00
36175   2016-12-05 08:40:00
36176   2016-12-09 10:20:00
36177   2016-12-21 14:43:00
36178   2016-12-21 14:51:00
36179   2016-12-21 14:47:00
36180   2016-12-29 05:08:00
36181   2016-12-29 10:53:00
36182   2016-12-28 06:02:00
36183   2017-02-03 10:49:00
36184   2017-02-12 15:07:00
36185   2017-02-17 08:42:00
36186   2017-02-16 07:33:00
36187   2017-02-20 10:36:00
36188   2017-02-23 09:31:00
36189   2017-02-23 09:12:00
36190   2017-02-23 09:17:00
36191   2017-03-28 15:01:00
36192   2017-03-31 04:04:00
36193   2017-04-03 12:11:00
36194   2017-04-03 12:14:00
Name: Closed Date, Length: 36195, dtype: datetime64[ns]